name: Deploy IVEvents to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm

      - name: Install dependencies
        run: npm ci
	working-directory: frontend

      - name: Build React app
        run: npm run build
	working-directory: frontend

      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Upload build to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "mkdir -p /var/www/ivevents"
          rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" frontend/dist/ ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/var/www/ivevents/


      - name: Fix permissions + reload nginx
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "\
            sudo chown -R ec2-user:nginx /var/www/ivevents && \
            sudo find /var/www/ivevents -type d -exec chmod 755 {} \; && \
            sudo find /var/www/ivevents -type f -exec chmod 644 {} \; && \
            sudo systemctl reload nginx \
          "


